:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --low-blue-color: #0075ff33;
  --low-green-color: #21c45d33;
  --low-orange-color: #f59f0a33;
}
/* Start padding & Margin */
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}

/* Margin */

.m-0 {
  margin: 0;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* End Start padding & Margin */
/* Start Flex */
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.items-c {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.justify-content-c {
  justify-content: center;
}
.justify-content-ar {
  justify-content: space-around;
}
.justify-content-bt {
  justify-content: space-between;
}
.txt-c {
  text-align: center;
}
/* End Flex */
/* Start Grid */
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
/* End Grid */
/* Start Display */
.d-block {
  display: block;
}
/* End Display */
/* Start Fonts */
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
/* End Fonts */
/* Start Pothion */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Pothion */
/* Start Color and background */
.bg-blue {
  background-color: var(--blue-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-alt-blue {
  background-color: var(--blue-alt-color-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-low-green {
  background-color: var(--low-green-color);
}
.bg-low-orange {
  background-color: var(--low-orange-color);
}
.bg-low-blue {
  background-color: var(--low-blue-color);
}
/* color */
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-alt-blue {
  color: var(--blue-alt-color);
}
.c-green {
  color: var(--green-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
.c-black {
  color: black;
}
/* End Color */

/* Start Width */
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
/* END Width */

/* Start Border */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.b-none {
  border: none;
}
/* End Border */

/* Start Components */
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End Components */

/* Start Media Mobile */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .d-block-mobile {
    display: block;
  }
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Media Mobile*/
